# Data analysis with SQL
In this project we will be analysing Data using SQL and it queries we will be provided with 3 different dataset from the city of Chicago which we suppose to answer 10 Given Questions

# Step 1: Import libraries

In [4]:
import pandas as pd

In [2]:
import sqlite3

# Step 2: Load Data

In [5]:
#crime data
crime=pd.read_csv(r"C:\Users\Student\Downloads\ChicagoCrimeData.csv")

In [8]:
#census data
census=pd.read_csv(r"C:\Users\Student\Downloads\ChicagoCensusData.csv")

In [13]:
#school data
school=pd.read_csv(r"C:\Users\Student\Downloads\ChicagoPublicSchools.csv")

 We now have our datasets in a form which they can only be accessed by python we need convert them to SQL Databases.
 we will do that using sqlite3

In [45]:
cnn=sqlite3.connect("jupyter_sql_tutorial.db")

In [46]:
crime.to_sql("crime",cnn)
census.to_sql("census",cnn)
school.to_sql("school",cnn)

In [47]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [48]:
%sql sqlite:///jupyter_sql_tutorial.db

In [49]:
#Let us view Our Databases

In [50]:
%%sql
SELECT * FROM crime
LIMIT 3

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(0, 3512276, 'HK587712', '2004-08-28', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 0, 0, 911, 9, 14.0, 58.0, '6', 1155838.0, 1873050.0, 2004, 41.8074405, -87.70395585, '(41.8074405, -87.703955849)'),
 (1, 3406613, 'HK456306', '2004-06-26', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 0, 0, 1112, 11, 27.0, 23.0, '6', 1152206.0, 1906127.0, 2004, 41.89827996, -87.71640551, '(41.898279962, -87.716405505)'),
 (2, 8002131, 'HT233595', '2011-04-04', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 0, 0, 221, 2, 3.0, 38.0, '6', 1177436.0, 1876313.0, 2011, 41.81593313, -87.62464213, '(41.815933131, -87.624642127)')]

In [51]:
%%sql
SELECT *FROM census
LIMIT 4

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(0, 1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (1, 2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0),
 (2, 3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0),
 (3, 4.0, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17.0)]

In [52]:
%%sql
SELECT * FROM school
LIMIT 4

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(0, 610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99.0, 'Very Strong', '99', 'Strong', 74.0, 'Strong', 66.0, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', 69.7, 64.4, 0.2, 0.9, 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.458, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (1, 610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54.0, 'Strong', '66', 'Strong', 74.0, 'Very Strong', 84.0, 'Weak', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', 15.7, '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', 16.8, 16.5, 0.7, 1.4, 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', 1196129.985, 1856209.466, 41.76032435, -87.55673627, 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)'),
 (2, 610185, 'Adlai E Stevenson Elementary School', 'ES', '8010 S Kostner Ave', 'Chicago', 'IL', 60652, '(773) 535-2280', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 61.0, 'NDA', 'NDA', 'Average', 50.0, 'Weak', 36.0, 'Weak', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '41', '95.70%', 2.3, '94.70%', '98.30%', '53.7', '26.6', '38.3', '34.7', '43.7', '57.3', '48.8', '39.2', '46.8', '44', '7.5', '21.9', 18.3, 15.5, -0.9, -1.0, 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1324, 44, 'NDA', 1148427.165, 1851012.215, 41.74711093, -87.73170248, 70, 'ASHBURN', 13, 8, '(41.74711093, -87.73170248)'),
 (3, 609993, 'Agustin Lara Elementary Academy', 'ES', '4619 S Wolcott Ave', 'Chicago', 'IL', 60609, '(773) 535-4389', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609993.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 56.0, 'Average', '44', 'Average', 45.0, 'Weak', 37.0, 'Weak', '65', 'Average', '48', 'Average', '53', 'Strong', '58', '95.50%', 10.4, '95.80%', '100.00%', '76.9', 'NDA', '26', '24.7', '61.8', '49.7', '39.2', '27.2', '69.7', '60.6', '9.1', '18.2', 11.1, 9.6, 0.9, 2.4, 'Green', 'Green', '42.9', '25', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 556, 42, 'NDA', 1164504.29, 1873959.199, 41.8097569, -87.6721446, 61, 'NEW CITY', 20, 9, '(41.8097569, -87.6721446)')]

In [53]:
#we can now see all 3 databases were loaded

In [54]:
#let us answer 10 questions fro this project

In [55]:
#Question 1
# Find the total number of crime recorded in crime table

In [57]:
%%sql
SELECT COUNT(*) AS Total_number_of_crime FROM crime

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(533,)]

In [58]:
#question2
#List community areas with per capita income less than 11000

In [61]:
%%sql
SELECT COMMUNITY_AREA_NAME FROM census
WHERE PER_CAPITA_INCOME <11000;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [77]:
#Question3
#List all case numbers fro crime involving minors

In [81]:
%%sql
SELECT CASE_NUMBER FROM crime
WHERE DESCRIPTION LIKE "%MINOR%";

 * sqlite:///jupyter_sql_tutorial.db
Done.

[('HL266884',), ('HK238408',)]

In [83]:
#Question 4
#List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [82]:
%%sql
SELECT*FROM crime
WHERE PRIMARY_TYPE LIKE "%kidnapping%";

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(520, 5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

In [91]:
#Question 5
#What kind of crime were recorded at schools

In [93]:
%%sql
SELECT PRIMARY_TYPE, LOCATION_DESCRIPTION FROM crime
WHERE LOCATION_DESCRIPTION LIKE "%school%";

 * sqlite:///jupyter_sql_tutorial.db
Done.

[('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PUBLIC, BUILDING')]

In [ ]:
#Question 6
#List the avarage safety score for all types schools

In [90]:
%%sql
SELECT AVG(SAFETY_SCORE) AS AVARAGE_SAFETY_SCORE FROM school

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(49.50487329434698,)]

In [94]:
#Question 7
#List Five community Areas with the highest % of household below poverty line

In [106]:
%%sql
SELECT COMMUNITY_AREA_NAME FROM census
WHERE PERCENT_HOUSEHOLDS_BELOW_POVERTY
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC
LIMIT 5 ;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[('Riverdale',),
 ('Fuller Park',),
 ('Englewood',),
 ('North Lawndale',),
 ('East Garfield Park',)]

In [ ]:
#Question 8
#list community Area Number with most crime prone

In [128]:
%%sql
SELECT COMMUNITY_AREA_NUMBER,COUNT(*) AS MOST_CRIME FROM crime
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY MOST_CRIME DESC
LIMIT 1

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(25.0, 43)]

In [114]:
#Question 9
#Use sub-query to find the name of the community Area with the highest hardship

In [116]:
%%sql
SELECT COMMUNITY_AREA_NAME FROM census
WHERE HARDSHIP_INDEX=(SELECT MAX(HARDSHIP_INDEX) FROM census)

 * sqlite:///jupyter_sql_tutorial.db
Done.

[('Riverdale',)]

In [117]:
#Question 10
#Use subquery to determine the community area name with most number of crime

In [138]:
%%sql
SELECT COMMUNITY_AREA_NAME FROM census
WHERE COMMUNITY_AREA_NUMBER=(SELECT COMMUNITY_AREA_NUMBER FROM crime
GROUP BY COMMUNITY_AREA_NUMBER 
ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC
LIMIT 1)

 * sqlite:///jupyter_sql_tutorial.db
Done.

[('Austin',)]

# Conclusion
We abled to answer all 10 given questions which help us to understand the data better